/* unbounded-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/unbounded-v3-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('assets/fonts/unbounded-v3-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* unbounded-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/unbounded-v3-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('assets/fonts/unbounded-v3-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.header{
  background-color: #3772A6;
}

.nav-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link{
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color:#ffffff;
  font-weight: 700;
}

.main-container{
  display:flex;
  justify-content: space-between;
}

.section-profile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.section-profile-photo{
  width:300px;
  height: 300px;
  object-fit:cover;
  border-radius: 100%;
  box-shadow: 10px 10px 4px #3772A6;
  filter: grayscale(0.1) brightness(1.05);
  transition: .3s;
}

.section-title{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: #3772A6;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
}

.main-title{
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 10px;
  line-height: 35px;
  word-spacing: 3px;
}

.section-item a{
  color:#3772A6;
}

.section-item a:active{
  color: #ffffff;
}

.column{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.column-left{
  width:35%;
  background-color: #ffffff;
}

.column-right{
  width:65%;
  text-align: justify;
  background-color: #ffffff;
}

.footer{
  background-color: #ffffff;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.rss{
  width: 120px;
  height: 45px;
  background-image: url("./assets/img/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
